<form method="get" action="{{ url('filter') }}">
    Filtru dupa <input type="text" placeholder="title" name="title" value="{{ title }}">
    <button type="submit" class="btn btn-info"> Search</button>
</form>
